<!--The content below is only a placeholder and can be replaced.-->

<div class="origin">
  <div class="contain" >
    <h1 style="text-align:center">Cheerful quotes!</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <div style="background-color:black;opacity: 0.9;" *ngFor='let unique of folder;let i= index'>
            <li>{{unique.description}} on {{unique.completeDate|date|uppercase}}</li>
            <button (click)='toggleMore(i)'>More</button>
            <app-quote-details *ngIf='unique.showDetail' [folder]='unique' (isComplete) = 'deleteQuote($event,i)' ></app-quote-details><br>
            <button style="margin-right:2px" class="btn btn-primary"> upVote <span >0</span></button>
            <button  class="btn btn-primary"> downVote <span>0</span></button>
          </div>
        </ul>
        <p *ngIf='folder.length>30'>You have added enough quotes</p>
      </div>
      <div class="col-md-6">
        <div style="background-color:black;opacity: 0.9;">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- <h1>My Goals</h1>
<hr>
<ul>
  <div *ngFor='let goal of goals;let i = index'>
    <li>{{goal.name}}</li>
    <button (click)='toggleDetails(i)'>Toggle Details</button>
    <app-goal-detail *ngIf='goal.showDescription' [goal]='goal' (isComplete) = 'completeGoal($event,i)'></app-goal-detail>
  </div>
</ul>
<p *ngIf='goals.length > 5'>You have too many goals</p> -->
<!-- <div *ngFor='let goal of goals;let i = index'>
    <li appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>   -->