<!--The content below is only a placeholder and can be replaced.-->

<div class="origin">
  <div class="contain" >
    <h1 style="text-align:center">Cheerful quotes!</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <div style="background-color:black;opacity: 0.9;" *ngFor='let unique of folder;let i= index'>
            <li>{{unique.description}}</li>
            <button (click)='toggleMore(i)'>More</button>
            <app-quote-details *ngIf='folder.showDetail' [folder]='unique' (isComplete) = 'deleteQuote($event,i)' ></app-quote-details><br>
            <button style="margin-right:2px" class="btn btn-primary"> upVote <span >0</span></button>
            <button  class="btn btn-primary"> downVote <span>0</span></button>
          </div>
        </ul>
        <p *ngIf='folder.length>30'>You have added enough quotes</p>
      </div>
      <div class="col-md-6">
        <div style="background-color:black;opacity: 0.9;">
          <app-quote-form></app-quote-form>
        </div>
      </div>
    </div>
  </div> 
</div>


