/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.contain{
    background-image: url("./assets/background-image.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover; 
}
h4{
    text-align: center;
    text-decoration:underline;
}

