<div class="container">
    <h4>ADD A QUOTE</h4>
    <hr>
    <form>
        <div class="form-group">
            <label for="details">enter a quote here: </label>
            <input type="text" id="details" class="form-control" placeholder=" your quote" >
        </div>
        <div class="form-group">
            <label for="names">enter the author's name: </label>
            <input type="text" id="names" class="form-control" placeholder="Author name" >
        </div>
        <div class="form-group">
            <label for="words">enter your name: </label>
            <input type="text" id="words" class="form-control" placeholder="enter your full name" >
        </div>
    </form>
    
</div>
